.container {
    margin: 20px 40px;
    border:1px solid black;
    width: 90%;
    height: 100vh;
    display: flex;
    border-radius: 1%;
}
.left{
    width: 30%;
    border-right: 1px solid red;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
    
}
.right textarea{
    width: 62vw;
    height: 100vh;
    
}
.listItem{
    list-style: none;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.listItem:hover{
    transform: scale(1.1,1.1);
    color: red;
}
